<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Carros</title>
</head>
<body>
    <h1>Carros</h1>

    <a href="{% url 'car_create' %}">+ Adicionar Carro</a>
        <br><br>


    <table border="1" cellpadding="8">
        <tr>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Ano</th>
            <th>KM</th>
            <th>Status</th>
        </tr>
        
        {% for car in cars %}
        <tr>
            <td><a href="{% url 'car_detail' car.id %}">{{ car.model }}</a></td>
            <td>{{ car.plate }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.km }}</td>
            <td>{{ car.get_status_display }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
