{% extends "base.html" %}

{% block title %}Lista de Carros{% endblock %}

{% block content %}

<h2>Clientes</h2>

<a href="{% url 'client_create' %}">+ Adicionar Cliente</a>
<br><br>

<table border="1" cellpadding="8">
    <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>CNH</th>
    </tr>

    {% for client in clients %}
    <tr>
        <td><a href="{% url 'client_detail' client.id %}">{{ client.name }}</a></td>
        <td></a>{{ client.phone }}</td>
        <td>{{ client.cnh }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
